<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<aside class="main-sidebar" layout:fragment="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a th:href="@{/secured/dashboard}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-database"></i>
                    <span>Master Data</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a th:href="@{/secured/employee}"><i class="fa fa-users"></i> Employee</a></li>
                    <li><a th:href="@{/secured/department}" id="departmentLink"><i class="fa fa-building-o"></i> Department</a></li>
                    <!--@{/secured/department}-->
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
</html>