<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta name="description" content="login form">
    <meta name="author" content="Achmad Fauzi" />
    <title th:text="${webTitle} + '-' +${webSubtitle}" />
    <head layout:replace="~{base/header/header-script :: header-script}"></head>
</head>

<!--Main Body-->
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!--Main Header-->
    <header layout:replace="~{base/header/main-header :: main-header}"></header>
    <aside layout:insert="~{base/sidebar/main-sidebar :: main-sidebar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section layout:replace="~{base/content/content-header}" />
        <section layout:replace="~{base/content/content}" />
    </div>

    <!--Footer-->
    <header layout:replace="~{base/footer/footer :: footer}"></header>
</div>
</body>
<div layout:insert="~{base/footer/footer-script :: footer-script}"></div>
</html>