<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta name="description" content="login form">
    <meta name="author" content="Achmad Fauzi" />
    <title>Spring Thymeleaf Scaffolding</title>
    <div layout:insert="~{base/header/header-script :: header-script}"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="index2.html" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>
    </header>
</div>
</body>
<div layout:insert="~{base/footer/footer-script :: footer-script}"></div>
</html>