<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en" layout:replace="~{base/header/header-script :: header-script}"></head>

<!--Main Body-->
<body class="hold-transition skin-blue sidebar-mini">
<!--<div class="fakeloader"></div>-->
<div class="wrapper">
    <!--Main Header-->
    <header layout:replace="~{base/header/main-header :: main-header}"></header>
    <aside layout:replace="~{base/sidebar/main-sidebar :: main-sidebar}"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section layout:replace="~{base/content/content-header}" />
        <section layout:replace="~{base/content/content}" />
    </div>

    <!--Footer-->
    <footer layout:replace="~{base/footer/footer :: footer}"></footer>
</div>
</body>
<div layout:insert="~{base/footer/footer-script :: footer-script}"></div>
</html>