<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base/scaffolding/form/scaffolding-form-vu.html}"
        >

<form class="form-horizontal formVUDepartment" th:action="${actionLink}"  th:method="POST" th:object="${requestFormVU}" layout:fragment="form-vu">
    <div class="col-md-6">
        <div class="box-body">

            <div class="form-group">
                <label for="id" class="col-sm-2 control-label">Id</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id"  required="required" th:field="*{id}" readonly>
                </div>
            </div>


            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">Code</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="code" placeholder="Code"  required="required" th:field="*{code}" th:disabled="${viewMode}">
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" placeholder="Name" required="required" th:field="*{name}" th:disabled="${viewMode}">
                </div>
            </div>

            <div class="form-group">
                <label for="salary" class="col-sm-2 control-label">Salary</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="salary" placeholder="Salary" required="required" th:field="*{salary}" th:disabled="${viewMode}">
                </div>
            </div>

            <div class="form-group">
                <label for="department" class="col-sm-2 control-label">Department</label>
                <div class="col-sm-10">
                    <div>
                        <select id="department" th:class="form-control"  name="departmentId" th:disabled="${viewMode}">
                            <span th:each="lov : ${lovDepartment}">
                                <option th:value="${lov.key}" th:text="${lov.value}" th:selected="${lov.key == requestFormVU.department.id}"></option>
                            </span>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="remarks" class="col-sm-2 control-label">Remarks</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="remarks" placeholder="Remarks"  rows="5" cols="20" th:field="*{remarks}" th:disabled="${viewMode}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="status" th:checked="${requestFormVU.status}" th:disabled="${viewMode}"> Status
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div th:if="${viewMode == false}">
            <div class="box-footer">
                <!--<button class="btn btn-default">
                    <i class="fa fa-eraser"></i>
                    Reset
                </button>-->

                <button type="submit" class="btn btn-info pull-right btnSave">
                    <i class="fa fa-pencil"></i>
                    Update
                </button>
            </div>
        </div>
    </div>
</form>
</html>