<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
<div class="box-header with-bordetim r" th:fragment="scaffolding-header">
    <div class="pull-left">
        <h4 class="text-uppercase font-weight-bold " th:text="${scaffoldingHeaderTitle}">
        </h4>
    </div>
    <div class="col-sm-0 pull-right">
        <!--th:href="@{/secured/department/insertForm}"-->
        <a th:href="${scaffoldingCreateLink}" class="btn btn-primary btnCreate">
            <span class="glyphicon glyphicon-plus"></span> Create
        </a>
    </div>
</div>
</html>