<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-sm-7" th:fragment="scaffolding-page-navigation">
    <div class="dataTables_paginate" >
        <ul class="pagination">
            <li th:class="${paginationButton.className}" th:each="paginationButton : ${paginationButtons}">
                <!--class="pagination-action"-->
                <!--onclick="changePage(this)"-->
                <a href="#" th:link="${paginationButton.link}" class="pagination-action">
                    <i th:if="${paginationButton.iconName != null}" th:class="${paginationButton.iconName}"></i>
                    <span th:unless="${paginationButton.iconName != null}" th:text="${paginationButton.text}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>