<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head layout:fragment="header-script">

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta name="description" content="login form">
    <meta name="author" content="Achmad Fauzi" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" />

    <!--BOOTSTRAP-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap-datepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap3-wysihtml5.min.css}" />

    <!--ADMIN LTE-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/adminlte/AdminLTE.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/skin/_all-skins.min.css}" />

    <!--JQUERY-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery/jquery-jvectormap.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/ionicons/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/morris/morris.css}" />

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/dataTables.bootstrap.min.css}">

    <!--FONTS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/google-fonts.css}">

    <!--CUSTOM-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/custom/app.css}">

    <!--FAKE LOADER-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fakeloader/fakeLoader.css}">

    <!--PACE-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/pace/pace.css}">
    <script th:src="@{/static/js/pace.min.js}"></script>

    <!--LOADINGIO-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/static/css/loading/loading.css}">-->

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/app.css}">

    <!--JM SPINNER-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jmspinner/jm.spinner.css}">
</head>
</html>