<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head layout:fragment="header-script">
    <!--BOOTSTRAP-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap-datepicker.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/daterangepicker.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap/bootstrap3-wysihtml5.min.css}" />

    <!--ADMIN LTE-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/adminlte/AdminLTE.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/skin/_all-skins.min.css}" />

    <!--JQUERY-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/jquery/jquery-jvectormap.css}" />

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/ionicons/ionicons.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/morris/morris.css}" />

    <!-- DataTables -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap/dataTables.bootstrap.min.css}">

    <!--FONTS-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/fonts/google-fonts.css}">

    <!--CUSTOM-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/custom/app.css}">
</head>
</html>