<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<!-- Content Header (Page header) -->
<section class="content-header" layout:fragment="content-header">
    <h1 layout:fragment="page-title-subtitle">
        Dashboard
        <!--<small>Control panel</small>-->
    </h1>
    <ol class="breadcrumb" th:fragment="breadcrumb">
        <li>
            <a href="#" th:text="${breadCrumbTitle}">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li class="active" th:text="${breadCrumbSubTitle}">Dashboard</li>
    </ol>

</section>
</html>