<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}"
        >
<head>
    <title>STS - Dashboard</title>
</head>
<h1 layout:fragment="page-title-subtitle">
    Dashboard
    <!--<small>Control panel</small>-->
</h1>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<section class="content" layout:fragment="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6 ">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 th:text="${nDepartment}">N Department</h3>

                    <p>Departments</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a th:href="@{/secured/department}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6 ">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 th:text="${nEmployee}">N Employee</h3>

                    <p>Employees</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a th:href="@{/secured/employee}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
</html>