<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index.html}"
        >
<head>
    <title>STS - Dashboard</title>
</head>
<h1 layout:fragment="page-title-subtitle">
    Dashboard
    <!--<small>Control panel</small>-->
</h1>
<ol class="breadcrumb" layout:fragment="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
</ol>
<section class="content" layout:fragment="content">
    <h2>This is Dashboard</h2>
</section>
</html>