<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="form-group" th:fragment="form-input-text">
    <label th:for="${formGroup.itemInput.id}" class="col-sm-2 control-label" th:text="${formGroup.label.text}">Label</label>

    <div class="col-sm-10">
        <input type="text" th:class="${formGroup.itemInput.className}" th:id="${formGroup.itemInput.id}" th:placeholder="${formGroup.itemInput.placeHolder}"  th:required="${required}" th:field="*{fieldName}">
    </div>
</div>

</html>